@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Noto+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.cabecalho{

    background-color: rgb(139, 102, 6);
    background-attachment: fixed;
    border: 5px;
    border-radius: 5px;
    opacity: 0.90;
    padding: 25px;
}

.navegacao {
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 5px;
    background-color: black;
}

.corpo{
    background-image: url('../img/donkey2.jpg');
    color: white;
    background-attachment: fixed;
 
}

main{
    margin-top: 100px;


}


nav{
    display: flex;


}

ul{
    display: flex;
    margin-left: auto;
    justify-content:space-around;

}





a{
    font-size: 1.5em;
    font-family: 'Catamaran', sans-serif;
    margin: 40px;
    padding: 5px 20px 5px 15px;
    color: aliceblue;
    text-decoration: none;
    /* background-color: blue; */
}
a:hover{
    transition-duration: 0.3s;
    color: rgb(255, 255, 255);
    background-color:rgb(223, 8, 8) ;
    border-radius: 18px;
}


    
   
h1{
    text-align: center;
    margin: 15px;

}

.principal {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    

}
p{
    margin: 15px;
}





footer{
    margin-top: 100px;
    text-align: center;
    color: black;
    width: auto;
    padding: 25px;
    background-color: rgb(203, 255, 16);
}



